.block {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.link {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}

.link:hover {
  border-bottom: 2px solid #fff;
}

.link:global(.active) {
  font-weight: bold;
}
