.form {
  padding: 15px;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.formGroup label {
  width: 100px;
}

.form button {
  margin-left: 60px;
}
